<form action="/registerkey">
    <input type="submit" value="Register" />
</form>

<form action="/postone">
    <input type="submit" value="Post" />
</form>

<form action="/deleteone">
    <input type="submit" value="Delete" />
</form>

<form action="/updateone">
    <input type="submit" value="Update" />
</form>

<form action="/getlist">
    <input type="submit" value="All" />
</form>

<form action="/getone">
    <input type="submit" value="One" />
</form>

<form action="/getfkey">
    <input type="submit" value="Forgot" />
</form>